*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 700;
}

._container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    margin-bottom: 100px;
}

.header__title {
    text-align: center;
    font-size: 15rem;
    text-transform: uppercase;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
}

.welcome {
    text-align: center;
}

.welcome__greetings {
    font-size: 7rem;
    margin-bottom: 200px;
}

.welcome__question {
    font-size: 5rem;
    margin-bottom: 50px;
}

.welcome__name-inp {
    width: 700px;
    height: 70px;
    border: 1px solid #000;
    font-size: 2.4em;
    border-radius: 7px;
    border: 4px solid black;
    display: inline-block;
    margin-bottom: 50px;
    padding: 0 15px;
}

.welcome__sumbit-btn {
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: #000;
    font-size: 2.7rem;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
}